{% extends 'base.html' %}
{% block content %}
    <div class="cart">
        <img class="productdetails" src="https://scontent.frkv3-1.fna.fbcdn.net/v/t1.0-9/95582020_10158146515832567_6083534906623787008_n.jpg?_nc_cat=108&_nc_sid=e007fa&_nc_oc=AQm4ZKrJvoq2JVpoKqdphWU-uREw7K95KekJ8yqGyrSeRsHUrtpFD0bAFxi0VzS0tYE&_nc_ht=scontent.frkv3-1.fna&oh=0e515cce48557c7708f164fef1edf283&oe=5EDABD39">
        <h2> Your cart is empty! </h2>
        <button class="btn -btn-primary" onclick="location.href='{% url 'products-index' %}?';" id = "go_shop">Go shop!</button>
    </div>
{% endblock %}
