{% extends 'base.html' %}
{% block content %}

    <div class="cart">
        <img class="cart-img" id="cart-NEON" src="https://scontent.frkv3-1.fna.fbcdn.net/v/t1.0-9/96424532_10158190365528972_371126728182988800_n.jpg?_nc_cat=101&_nc_sid=0debeb&_nc_ohc=JPjhIuhqqzcAX8N3S-L&_nc_ht=scontent.frkv3-1.fna&oh=5cbff76af5019459586212165490a801&oe=5EDF8331">
        <h2> Your cart is empty! </h2>

        <button class="btn -btn-primary" onclick="location.href='{% url 'products-index' %}';"
                id = "go-shop">Go shop <i class="fa fa-gamepad"></i></button>
    </div>

{% endblock %}
