{% extends 'base.html' %}
{% block content %}
    <div class="cart">
        <iframe class="productdetails" src="https://ntmaker.gfto.ru/newneontexten/?image_height=200&image_width=600&image_font_shadow_width=0&image_font_size=50&image_background_color=000000&image_text_color=90FFFF&image_font_shadow_color=000000&image_url=&image_text=Cart&image_font_family=ssvivas&" frameborder='no' scrolling='no' width="250" height="190"></iframe>
        <h2> Your cart is empty! </h2>
        <button class="btn -btn-primary" onclick="location.href='{% url 'products-index' %}?';" id = "go_shop">Go shop!</button>
    </div>
{% endblock %}
