{% extends 'base.html' %}
{% block content %}

    {% if user.is_authenticated %}
        <div class="home-page-authenticated">
            <div class="home-one-user">
                <a href="{% url 'products-index'%}" class="img-link">
                    <div class="blocker"></div>
                    <iframe class="view-all-img" src="https://ntmaker.gfto.ru/newneontexten/?image_height=200&image_width=600&image_font_shadow_width=30&image_font_size=45&image_background_color=000000&image_text_color=90FFFF&image_font_shadow_color=000000&image_url=&image_text=view all products&image_font_family=ssvivas&" frameborder='no' scrolling='no'></iframe>
                </a>
            </div>

            <div class="home-two-user">
                <a href="{% url 'wishlist-index'%}" class="img-link">
                    <div class="blocker"></div>
                    <iframe class="my-wishlist-img" id="wishlist-home-NEON" src="https://ntmaker.gfto.ru/newneontexten/?image_height=200&image_width=600&image_font_shadow_width=30&image_font_size=47&image_background_color=000000&image_text_color=90FFFF&image_font_shadow_color=000000&image_url=&image_text=My wishlist&image_font_family=ssvivas&" frameborder='no' scrolling='no'></iframe>
                </a>
            </div>


            <div class="newsletter-email">
                <button class="btn -btn-primary" id="add-to-newsletter-btn">Sign up to our newsletter here</button>
            </div>
            <img class="remote-img" src="https://scontent.frkv3-1.fna.fbcdn.net/v/t1.0-9/96404463_10158191028128972_1408808453442371584_n.jpg?_nc_cat=102&_nc_sid=0debeb&_nc_ohc=XvrzJY6eMeMAX-PSQxs&_nc_ht=scontent.frkv3-1.fna&oh=f88f57e2c61f57023ac706783c553f0f&oe=5EE237E0" frameborder='no' scrolling='no' width="120" >


        </div>

        <div class="home-page-retro">

            <img class="retro-img" src="https://scontent.frkv3-1.fna.fbcdn.net/v/t1.0-9/96807116_10158196882553972_2320825727747883008_n.jpg?_nc_cat=104&_nc_sid=0debeb&_nc_ohc=Vnh9l3yf7wAAX9ECpxI&_nc_ht=scontent.frkv3-1.fna&oh=0bed8ab81f72031ec4f09c239fed73ad&oe=5EE1230F">
        </div>

    {% else %}
        <div class="home-page">
            <div class="home-one">
                <a href="{% url 'products-index'%}" class="img-link">
                    <div class="blocker"></div>
                    <iframe class="view-all-img" id="view-all-NEON" src="https://ntmaker.gfto.ru/newneontexten/?image_height=200&image_width=600&image_font_shadow_width=30&image_font_size=45&image_background_color=000000&image_text_color=90FFFF&image_font_shadow_color=000000&image_url=&image_text=view all products&image_font_family=ssvivas&" frameborder='no' scrolling='no'></iframe>
                </a>
            </div>

            <div class="home-two">
                <a href="{% url 'register'%}" class="img-link">
                    <div class="blocker"></div>
                    <iframe class="sign-up-img" id="sign-up-home-NEON" src="https://ntmaker.gfto.ru/newneontexten/?image_height=200&image_width=600&image_font_shadow_width=30&image_font_size=47&image_background_color=000000&image_text_color=90FFFF&image_font_shadow_color=000000&image_url=&image_text=Sign up now!&image_font_family=ssvivas&" frameborder='no' scrolling='no'></iframe>
                </a>
            </div>
        </div>

        <div class="home-page-retro">
            <img class="retro-img" src="https://scontent.frkv3-1.fna.fbcdn.net/v/t1.0-9/96671148_10158192982933972_543705703911522304_o.jpg?_nc_cat=107&_nc_sid=0debeb&_nc_ohc=bUIW9BjfKdgAX8AirpC&_nc_ht=scontent.frkv3-1.fna&oh=d8f8a99258b6d2696873aa6fa1a59e78&oe=5EE2CC5B">
        </div>
    {% endif %}

{% endblock %}