{% extends 'base.html' %}
{% block content %}

    {% if user.is_authenticated %}
        <div class="home_one_user">
            <a href="{% url 'products-index'%}" class="img_link">
                <div class="blocker"></div>
                <iframe class="view_all_img" src="https://ntmaker.gfto.ru/newneontexten/?image_height=200&image_width=600&image_font_shadow_width=0&image_font_size=45&image_background_color=000000&image_text_color=F245FF&image_font_shadow_color=000000&image_url=&image_text=view all products&image_font_family=ssvivas&" frameborder='no' scrolling='no' width="570" height="200"></iframe>            </a>
        </div>

    {% else %}
        <div class="home_page">
        <div class="home_one">
            <a href="{% url 'products-index'%}" class="img_link">
                <div class="blocker"></div>
                <iframe class="view_all_img" src="https://ntmaker.gfto.ru/newneontexten/?image_height=200&image_width=600&image_font_shadow_width=0&image_font_size=45&image_background_color=000000&image_text_color=F245FF&image_font_shadow_color=000000&image_url=&image_text=view all products&image_font_family=ssvivas&" frameborder='no' scrolling='no' width="570" height="180"></iframe>            </a>
            </a>
        </div>

        <div class="home_two">
            <a href="{% url 'register'%}" class="img_link">
                <div class="blocker"></div>
                <iframe class="join_us_img" src="https://ntmaker.gfto.ru/newneontexten/?image_height=200&image_width=600&image_font_shadow_width=0&image_font_size=45&image_background_color=000000&image_text_color=FFB729&image_font_shadow_color=000000&image_url=&image_text=sign up now!&image_font_family=ssvivas&" frameborder='no' scrolling='no' width="600" height="200"></iframe>
            </a>
        </div>
        </div>

    {% endif %}


        <!--<div class="newsletter_email">
             <b>Sign up to our newsletter</b>
            <form action="/" method="post" class="form form-horizontal" id="newsletter-horizontal">
                <div class='newsletter'>
                    {% csrf_token %}
                    {{ form}}
                </div>
                <input type="submit" class="btn btn-primary" value="Sign up" id="newsletter-btn"/>
            </form>
        </div>-->
{% endblock %}