/* NEON - cart img */
.cart-img{
    display: block;
    height: auto;
    margin-top: 100px;
}


/* table header */
.table > thead > tr > td {
    padding: 15px;
}


/* table body */
.table > tbody > tr > td {
    vertical-align: middle;
    padding: 20px;
    border-top: 1px solid #403f3f;
}


.table {
    border-collapse: separate;
}


/* Rammi utan um cart*/
.table-and-buttons {
    margin-top: 30px;
    margin-bottom: 50px;
    box-shadow: 0px 3px 16px 3px rgba(225, 245, 235, 0.24);
    border-radius: 5px;
}


/* heildarverð */
#total {
    text-align: right;
}


/* linkur á vöru hvítur */
.table a h4 {
    color: white;
}



#nice-number {
    display: inline-block;
    vertical-align: top;
    margin: 5px;
}



/*decrease product quantity */
#decrease {
    border: 1px solid white;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    width: 23px;
    height: 25px;
}

/*inecrease product quantity */
#increase {
    border: 1px solid white;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    width: 23px;
    height: 25px;
}

/*product quantity button*/
#quantity {
    text-align: right;
    background-color: black;
    border: 1px solid white;
    width: 32px;
    height: 25px;
}




/* -------------- Cart og Wishlist -------------- */
#previous-page {
    display: inline-block;
    vertical-align: top;
    margin: 5px;
    border: 2px solid #90FFFF;
    float: left;
    margin-bottom: 70px;
}


/* ATH!! #pick_up */
#contact-info, #pick_up{
    display: inline-block;
    vertical-align: top;
    margin: 5px;
    border: 2px solid #90FFFF;
    float: right;
    margin-bottom: 70px;

}

/* mynd af vöru í cart */
.product-img-cart {
    object-fit: contain;
    width:  100px;
    height: 150px;
    margin-left: 80px;
}


/* ehv sem tengist empty cart */
.productdetails {
    margin-top: 50px;
    margin-bottom: 50px;
}

#go-shop {
    border: 2px solid #90ffff;
    margin-left: 45%;
    font-size: x-large;
}

.cart h2 {
    padding-top: 8%;
    margin-left: 40%;
    margin-bottom: 5%;
}

#delete-all-items-btn {
    display: block;
    vertical-align: top;
    margin: 5px;
    border: 2px solid #90FFFF;
    float: left;
}


/* taka útlínur á takka þannig sjáist bara ruslið */
#remove-cart-item-btn {
    border: none;
}

/*-------Wishlist--------*/
/* taka útlínur á takka þannig sjáist bara ruslið */
#remove-wishlist-item-btn{
    border: none;
}


/* add to cart úr wishlist */
#add-to-cart-btn-wishlist {
    display: inline-block;
    vertical-align: top;
    margin: 5px;
    border: 2px solid #90FFFF;
    height: 30px;
    padding: 3px 6px;
}

#add-to-cart-btn-wishlist:focus{
    outline:0;
}

#wishlist-NEON {
    width: 500px;
    height: auto;
    margin-top: 70px;
    padding: 70px;
    padding-left: 40px;
    padding-top: 10px;
    padding-bottom: 20px;
    display: block;
}

.wishlist h2 {
    padding-top: 8%;
    margin-left: 40%;
    margin-bottom: 5%;
}

/*------------------------*/