.table > thead > tr > td {
    padding: 15px;
}

/* til að setja texta í körfu í miðjuna */
.table > tbody > tr > td {
    vertical-align: middle;
    padding: 20px;
    border-top: 1px solid #403f3f;
}
.table {
    border-collapse: separate;
}


.table-and-buttons {
    border-radius: 5px;
    box-shadow: 0px 3px 16px 3px rgba(225, 245, 235, 0.24);
}

#total {
    text-align: right;
}



/* linkur á vöru hvítur */
.table a h4 {
    color: white;
}

.cart {
    margin-top: 50px;
}

/* NEON - cart img */
.cart-img{
    display: block;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}





#nice-number {
    display: inline-block;
    vertical-align: top;
    margin: 5px;
}

#increase {
    border: 1px solid white;
}

#quantity {
    border: 1px solid white;
}

#decrease {
    border: 1px solid white;
}




/* -------------- Cart og Wishlist -------------- */
/* add to wishlist hjarta --> bara útlínur */
.fa-heart-o {
    color: white;
    vertical-align: top;
}

/* add to wishlist hjarta --> fyllt */
.fa-heart {
    color: white;
    vertical-align: top;
}

/* til að skipta um hjarta þegar mús er ofaná */
.heart > .fa + .fa,
.heart:hover > .fa {
  display: none;
}

.heart:hover > .fa + .fa {
  display: inherit;
}










#previous_page {
    display: inline-block;
    vertical-align: top;
    margin: 5px;
    border: 2px solid #90FFFF;
    float: left;
}

#home_delivery, #pick_up{
    display: inline-block;
    vertical-align: top;
    margin: 5px;
    border: 2px solid #90FFFF;
    float: right;
}

/* mynd af vöru í cart*/
.product-img_cart {
    object-fit: contain;
    width:  100px;
    height: 150px;
}

.productdetails {
    margin-top: 50px;
    margin-bottom: 50px;
}
/* taka útlínur á takka þannig sjáist bara ruslið */
#remove_cart_item_btn {
    border: none;
}