/* NEON - cart img */
.cart-img{
    display: block;
    height: auto;
    margin-top: 50px;
    margin-bottom: 20px;
    /* NEON - all products img */
}


/* table header */
.table > thead > tr > td {
    padding: 15px;
}


/* table body */
.table > tbody > tr > td {
    vertical-align: middle;
    padding: 20px;
    border-top: 1px solid #403f3f;
}


.table {
    border-collapse: separate;
}


/* ÞARF AÐ LAGA!! -> VIL FÁ TAKKA INN Í REITINN!! */
.table-and-buttons {
    margin-top: 40px;
    margin-bottom: 50px;
    box-shadow: 0px 3px 16px 3px rgba(225, 245, 235, 0.24);
    border-radius: 5px;
}


/* heildarverð */
#total {
    text-align: right;
}


/* linkur á vöru hvítur */
.table a h4 {
    color: white;
}



#nice-number {
    display: inline-block;
    vertical-align: top;
    margin: 5px;
}



/*decrease product quantity */
#decrease_cart {
    border: 1px solid white;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    width: 23px;
    height: 25px;
}

/*inecrease product quantity */
#increase_cart {
    border: 1px solid white;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    width: 23px;
    height: 25px;
}

/*product quantity button*/
#quantity_cart {
    text-align: right;
    background-color: black;
    border: 1px solid white;
    width: 32px;
    height: 25px;
}






/* -------------- Cart og Wishlist -------------- */
#previous-page {
    display: inline-block;
    vertical-align: top;
    margin: 5px;
    border: 2px solid #90FFFF;
    float: left;
    margin-bottom: 70px;
}

#contact-info, #pick_up{
    display: inline-block;
    vertical-align: top;
    margin: 5px;
    border: 2px solid #90FFFF;
    float: right;
    margin-bottom: 70px;

}

/* mynd af vöru í cart */
.product-img_cart {
    object-fit: contain;
    width:  100px;
    height: 150px;
}


/* ehv sem tengist empty cart */
.productdetails {
    margin-top: 50px;
    margin-bottom: 50px;
}


/* taka útlínur á takka þannig sjáist bara ruslið */
#remove_cart_item_btn {
    border: none;
}