.contact-info-form {
    width: 570px;
    height: 100%;
    padding: 20px 70px 20px 100px;
    border-radius: 5px;
    margin: 0 auto 60px;
    box-shadow: 0 3px 16px 3px rgba(225, 245, 235, 0.24);
}

#contact-info-NEON {
    width: 700px;
    height: auto;
    margin-top: 70px;
    padding: 10px 70px 20px 40px;
    display: block;
}


.contact-information{
    margin-bottom: 50px;
}


#id-full-name, #id-email-address, #id-phone-number, #id-home-address, #id-city, #id-zip-code, #id-country {
    height: 35px;
    width: 300px;
    font-size: 18px;
    margin-bottom: 20px;
    background-color: black;
}


#continue-to-payment {
    background: black;
    width: 200px;
    border: 2px solid #90FFFF;
    float: right;
    margin-bottom: 70px;
}

/* NEON */
.contact-img{
    margin-top: 50px;
    padding: 10px 70px 20px 100px;
    display: block;
}

/* texti hvitur */
.contact-info-form input, .contact-info-form select {
    background: black;
    color: white;
}

/* rauður rammi ef vitlaust */
.contact-info-form input:invalid {
    border: 1px solid red;
}


#id-additional-info {
    color: #d718e5;
}


/* ----- PAYMENT INFORMATION ----- */
.payment {
    width: 440px;
    height: 100%;
    padding: 20px 80px;
    border-radius: 5px;
    margin: 0 auto 60px;
    box-shadow: 0px 3px 16px 3px rgba(225, 245, 235, 0.24);
}


#processed-order {
    float: right;
}

/* texti hvitur */
.payment input, .payment select {
    background: black;
    color: white;
    margin-bottom: 20px;
}

/* rauður rammi ef invalid */
.payment input:invalid {
    border: 1px solid red;
}


#id_card_month, #id_card_year, #id_card_CVC  {
    width: 100px;
}

#id_card_number{
    width: 280px;
}


#payment-info-NEON {
    width: 700px;
    height: auto;
    margin-top: 70px;
    padding: 10px 70px 20px 40px;
    display: block;
}
