.contact-info-form {
    width: 570px;
    height: 730px;
    margin: 0 auto;
    padding: 70px;
    padding-left: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 5px;
    margin-bottom: 60px;
    box-shadow: 0px 3px 16px 3px rgba(225, 245, 235, 0.24);
    border-radius: 5px;
}

#contact-info-NEON {
    width: 700px;
    height: auto;
    margin-top: 70px;
    padding: 70px;
    padding-left: 40px;
    padding-top: 10px;
    padding-bottom: 20px;
    display: block;
}


.delivery-info{
    margin-bottom: 10px;
    vertical-align: center;
}


.contact-information{
    margin-bottom: 50px;
}


#id-full-name, #id-email-address, #id-phone-number, #id-home-address, #id-city, #id-zip-code, #id-country {
    height: 35px;
    width: 300px;
    font-size: 18px;
    margin-bottom: 20px;
    background-color: black;
}


#id-home-delivery{
    padding: 6px 12px;
    margin-bottom: 20px;
}

#id-additional-info {
    height: 95px;
    width: 400px;
    font-size: 18px;
    margin-bottom: 20px;
    padding-left: 10px;
    background-color: black;
}

#continue-to-payment {
    background: black;
    width: 200px;
    border: 2px solid #90FFFF;
    float: right;
    margin-bottom: 70px;
}

/* NEON */
.contact-img{
    margin-top: 50px;
    padding: 70px;
    padding-left: 100px;
    padding-top: 10px;
    padding-bottom: 20px;
    display: block;
}

/* texti hvitur */
.contact-info-form input, .contact-info-form select {
    background: black;
    color: white;
}

/* rauður rammi ef vitlaust */
.contact-info-form input:invalid {
    border: 1px solid red;
}


#id-additional-info {
    color: #d718e5;
}


/* ----- PAYMENT INFORMATION ----- */
.payment {
    width: 570px;
    height: 600px;
    margin: 0 auto;
    padding: 70px;
    padding-left: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 5px;
    margin-bottom: 60px;
    box-shadow: 0px 3px 16px 3px rgba(225, 245, 235, 0.24);
    border-radius: 5px;
}


#processed-order {
    float: right;
}

/* texti hvitur */
.payment input, .payment select {
    background: black;
    color: white;
    margin-bottom: 20px;

}

/* rauður rammi ef invalid */
.payment input:invalid {
    border: 1px solid red;
}


/*
.payment {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}


#id_card_year {
    width: 100px;
    display: inline;
}

#id_card_month {
    width: 100px;
    display: inline;
}

.payment label {
    float: right;
}
 */



/* label */
/* select */






#payment-info-NEON {
    width: 700px;
    height: auto;
    margin-top: 70px;
    padding: 70px;
    padding-left: 40px;
    padding-top: 10px;
    padding-bottom: 20px;
    display: block;
}
