.both-drop-down {
    float: right;
}


/* Dropdown Button */
.dropbtn {
  background-color: black;
  color: white;
  font-size: 16px;
  border-bottom: 1px solid #90ffff;
  border-top: none;
  border-left: none;
  border-right: none;
  height: 35px;
  width: 160px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown-sort {
  display: inline-block;
  margin-bottom: 30px;
  position: relative;
}

/* The container <div> - needed to position the dropdown content */
.dropdown-brand {
  display: inline-block;
  margin-right: 25px;
  margin-bottom: 30px;
  position: relative;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  color: white;
  background-color: black;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(225, 245, 235, 0.24);
  z-index: 1;

}


/* Show the dropdown menu on hover */
.dropdown-sort:hover .dropdown-content {
  display: block;
}

/* Show the dropdown menu on hover */
.dropdown-brand:hover .dropdown-content {
    display: block;
}

.dropdown-content button.price-btn{
    border: none;
    padding: 12px 16px;
    min-width: 160px;
    position: relative;
    display: inline-block;
    text-align:left;
}

.dropdown-content button.brand-btn {
    border: none;
    padding: 12px 16px;
    min-width: 160px;
    position: relative;
    display: inline-block;
    text-align:left;
}

.dropdown-content button:focus {
    outline: none;
}

.dropdown-content button:hover {
    background-color: #393939;
}

