/* heldur utan um linka a homepage */
.home-page-authenticated {
    display: inline-block;
    margin-bottom: 10px;
    height: 450px;
}

/* heldur utan um linka a homepage */
.home-page {
    display: inline-block;
    margin-bottom: 10px;
    height: 450px;
}

/* Homepage rammi fyrir all products */
.home-one, .home-one-user {
    margin-top: 170px;
    border: 3px dotted #7818e5;
    border-top: none;
    border-right: none;
    border-left: none;
    border-radius: 0px;
    clear: both;
    padding: 10px;
    width: 620px;
    height: 108px;
    margin-right: 1px;
    margin-left: 3px;
    padding-bottom: 2px;
    margin-bottom: 20px;
}

/* Homepage rammi fyrir sign up */
.home-two, .home-two-user {
    margin-top: 50px;
    margin-bottom: 150px;
    margin-right: 1px;
    margin-left: 3px;
    border: 3px dotted #bfe871;
    border-top: none;
    border-right: none;
    border-left: none;
    border-radius: 0px;
    clear: both;
    padding: 10px;
    width: 460px;
    height: 108px;
    padding-bottom: 2px;
}


/* Homepage rammi fyrir sign up */
.home-two-user {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 1px;
    margin-left: 3px;
    border: 3px dotted #bfe871;
    border-top: none;
    border-right: none;
    border-left: none;
    border-radius: 0px;
    clear: both;
    padding: 10px;
    width: 460px;
    height: 108px;
    padding-bottom: 2px;
}

/* Homepage rammi fyrir all products - innskradur */
.home-one-user {
    margin-top: 170px;
    border: 3px dotted #7818e5;
    border-top: none;
    border-right: none;
    border-left: none;
    border-radius: 0px;
    clear: both;
    padding: 10px;
    width: 620px;
    height: 108px;
    margin-right: 1px;
    margin-left: 3px;
    padding-bottom: 2px;
    margin-bottom: 20px;
}


/* NEON mynd á forsíðu */
.view-all-img {
    padding: 1px;
    margin-top: 1px;
    margin-bottom: 0px;
    width: 570px;
    height: 90px;
}

/* NEON mynd á forsíðu */
.sign-up-img, .my-wishlist-img {
    padding: 1px;
    margin-top: 1px;
    margin-bottom: 0px;
    width: 400px;
    height: 80px;
    float: left;
}

/* Linkar a NEON myndum á forsíðu */
.img-link {
    position:relative;
    display:inline-block;
    z-index: 2;
    height: 90px;
}

/* Rammi utan um link a NEON myndum */
.blocker {
    position:absolute;
    padding-bottom: 1px;
    height:100%;
    width:100%;
    z-index:1;
}

.retro-img {
    width: 370px;
    height: 310px;
}

.home-page-retro {
    display: inline-block;
    margin-left: 80px;
    vertical-align: top;
    margin-top: 270px;
}

.add-to-newsletter-btn {
    display: inline-block;
    vertical-align: top;
    margin: 5px;
    border: 2px solid #90FFFF;
    height: 100%;
    width: 100%;
    padding: 3px 6px;
}