/* öll síðan svört og hvítir stafir */
body {
    background-color: black;
    color: white;
}

/* navigation bar */
.container-fluid {
    background-color: black;
    color: white;
}

/*.product {
    border-bottom: solid 2px #AB17FF;
}*/

* {
    box-sizing: border-box;
}

.products {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.single-product h4, p {
    color: white;
}

.single-product {
    text-align: center;
}


.product-img {
    object-fit: contain;
    width:  200px;
    height: 250px;
    border: 2px solid #AB17FF;
}

/* linkar undir information í footer hvítir */
footer a {
    color: white;
}

footer {
    position: absolute;
}

.product-details {
    position: center;
}

.product-details div {
    display: inline-block;
    vertical-align: top;
    margin: 20px;
}

.product-details .product-img {
    display: inline-block;
    margin: 20px;
}

