/* VEIT EKKI HVAÐ GERIR!!! */
/*
.form.form-horizontal {
    display: inline-block;
    padding-left: 10%;
}
 */

/* veit ekki hvað þetta er */
.box {
    top: 50%;
    left: 50%;
    padding-left: 47%;
    transform: translate(-50%, -50%);
}



/* ------------------------ .container ------------------------ */

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}


/* ------------------------ ANNAÐ ------------------------ */

/* öll síðan svört og hvítir stafir */
body {
    background-color: black;
    color: white;
}

/* gerir takka/linka hvita (textann) */
a {
    color: white;
}

/* gerir alla takka svarta */
button {
    background: black;
}



/* ------------------------------------------------------ */




/* mynd a forsíðu */
.retro {
    width: 240px;
    height: 250px;
    margin-top: 20px;
    margin-bottom: 100px;
    position: center;
}

/* mynd a forsíðu */
.join_us_img {
    margin-top: 10px;
    margin-bottom: 10px;
}
/* mynd a forsíðu */
.view_all_img {
    margin-top: 100px;
    margin-bottom: 1px;
}



/* ---------------------------- footer ---------------------------- */

/* linkar undir information í footer hvítir */
footer a {
    color: white;
}

footer {
    float: right;
}


/* search bar --> bæði í footer og navigation bar */
input {
    background: black;
    outline: #AB17FF;
    width: 5ch;
}

#news_letter_box.form-control {
    background-color: black;
    color: white;
    height: 29px;
    width: 240px;
}

#newsletter-btn.btn-default {
    height: 29px;
    background-color: black;
    text-shadow: none;
    background-position: 0 -30px;
    width: 70px;
    color: white;
}

#footer_contact {
    padding-right: 40px ;
    padding-left: 40px;
    width: 245px;
    text-align:left;
}

#socialmedia_logo {
    padding-right: 10px ;
    padding-left: 0px;
    width: 155px;
    text-align:left;
 }

#footer_openhours {
    padding-right: 40px ;
    padding-left: 40px;
    width: 270px;
    text-align:left;
}


#footer_row {
    margin-right: -350px;
    margin-left: 10px;
}

#footer_newsletter {
    margin-right: -1px;
    margin-left: 10px;
    width: 570px;
}


/* ---------------------------- profile settings ---------------------------- */

/* update takki í profile settings */
.btn.btn-primary {
    background: black;
    width: 80px;
    display: inline-block;
    vertical-align: top;
    margin: 5px;
    border: 2px solid #90FFFF
}

#profile-info{
    display: inline-block;
    width: 50%;
    height: auto;
    padding-left: 10%;
}

/* notenda-mynd */
.profile-image {
    width: 30%;
    height: 30%;
    float: left;
    display: inline-block;
}


/* --------------------------------- */
/* tharf thetta????? */

html, body {
    height: 100%;
}
main {
    min-height: 100%;
    margin-bottom: -100px;
    background: #ddd;
}
main:after {
    content: "";
    display: block;
    height: 100px;
}
footer {
    height: 100px;
}

/* ---------------------------------- */
