/* öll síðan svört og hvítir stafir */
body {
    background-color: black;
    color: white;
}
/* gerir takka/linka hvita */
a {
    color: white;
}


footer {
    float: right;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}



.retro {
    width: 35%;
    height: auto;
    float: right;
}



/* -------------- navigation bar -------------- */

/* navigation bar */
.container-fluid {
    background-color: black;
    color: white;
}

/* white font in navigationbar */
#cart {
    color: white;
}

/* cart icon */
.fa-shopping-cart {
    color: white;
}

/* allur texti í navigation bar hvítur */
.nav.navbar-nav li a {
    color: white;
}

/* search -> navbar */
.input-group.md-form.form-sm.form-2 input {
  border: 1px solid #bdbdbd;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

/* search -> navbar */
.input-group.md-form.form-sm.form-2 input.amber-border {
  border: 1px solid #ffca28;
}

/* Captain Console (logo) white */
.navbar-default .navbar-brand  {
    color: white;


}

/* tekur hvítan border line */
.navbar {
    border: none;
    position: fixed;
    top: 0;
    width: 100%;
    margin-top: 0px
}


/* -------------- products -------------- */

.allproducts{
    display: block;
    width: 40%;
    height: auto;
    margin-top: 50px
}

/* setur vörur í fina röð */
.products {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 50px
}

/* texti undir myndir hvitur */
.single-product h4, p {
    color: white;
}

/* setur texta undir myndr í miðjuna */
.single-product {
    text-align: center;
}

/*hver og ein mynd af vöru*/
.product-img {
    object-fit: contain;
    width:  200px;
    height: 250px;
    border: 2px solid #AB17FF;
}

.product-img_cart {
    object-fit: contain;
    width:  100px;
    height: 150px;
    border: 2px solid #AB17FF;
}

/* neon product detail */
.productdetails {
    display: block;
    width: 40%;
    height: auto;
}

/* ekki viss hvað þetta gerir */
.product-details {
    position: center;
}

/* nafn, verð, litur og framleiðandi */
.product-details div {
    display: inline-block;
    vertical-align: top;
    margin: 20px;
}

.product-details .product-img {
    display: inline-block;
    margin: 20px;
}

/* til að setja texta í körfu í miðjuna -- þurfti að yfirskrifa bootsrap */
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  vertical-align: middle;
}

/* taka útlínur á takka þannig sjáist bara ruslið */
#remove_cart_item_btn {
    border: none;
}




.login {
    display: block;
    width: 95%;
    height: auto;
}


/* -------------- footer -------------- */

.signup {
    display: block;
    width: 65%;
    height: auto;
}


.profileinfo {
    display: block;
    width: 50%;
    height: auto;
}

/* linkar undir information í footer hvítir */
footer a {
    color: white;
}

footer {
    float: right;
}



/* -------------- Dropdown -------------- */

/* Dropdown Button */
.dropbtn {
  background-color: #000000;
  color: white;
  padding: 7px;
  font-size: 16px;
  border: 1px solid #ffffff;
    width:  110px;
    height: 35px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown-sort {
  position: relative;
  display: inline-block;
  margin-top: 50px
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #000000;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(225, 245, 235, 0.24);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: #ffffff;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #393939;}

/* Show the dropdown menu on hover */
.dropdown-sort:hover .dropdown-content {display: block;}



/* Dropdown Button */
.dropbtn {
  background-color: #000000;
  color: white;
  padding: 7px;
  font-size: 16px;
  border: 1px solid #ffffff;
    width:  110px;
    height: 35px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown-brand {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #000000;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(225, 245, 235, 0.24);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: #ffffff;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #393939;
}

/* Show the dropdown menu on hover */
.dropdown-brand:hover .dropdown-content {
    display: block;
}


/* heldur utan um quantity cart og wishlist takka */
.quantity_cart_wishlist {
    margin: 5px;
}
/*fyrir logged in people*/
#add_to_cart_btn {
    display: inline-block;
    vertical-align: top;
    margin: 5px;
    border: 2px solid #90FFFF;
}
/*fyrir loggedout people */
#add_to_cart {
    display: inline-block;
    vertical-align: top;
    margin: 5px;
    border: 2px solid #90FFFF;
}


#nice-number {
    display: inline-block;
    vertical-align: top;
    margin: 5px;
}

#increase {
    border: 1px solid white;
}

#quantity {
    border: 1px solid white;
}

#decrease {
    border: 1px solid white;
}




/* -------------- Cart og Wishlist -------------- */
/* add to wishlist hjarta --> bara útlínur */
.fa-heart-o {
    color: white;
    font-size: 48px;
    display: inline-block;
    vertical-align: top;
    margin: 5px;
}

/* add to wishlist hjarta --> fyllt */
.fa-heart {
    color: white;
    font-size: 48px;
    display: inline-block;
    vertical-align: top;
    margin: 5px;
}


/* til að skipta um hjarta þegar mús er ofaná */
.heart > .fa + .fa,
.heart:hover > .fa {
  display: none;
}

.heart:hover > .fa + .fa {
  display: inherit;
}


.total {
    text-align: right;
}

/* linkur á vöru hvítur */
.table a h4 {
    color: white;
}

#previous_page {
    display: inline-block;
    vertical-align: top;
    margin: 5px;
    border: 2px solid #90FFFF;
    float: left;
}

#next_page {
    display: inline-block;
    vertical-align: top;
    margin: 5px;
    border: 2px solid #90FFFF;
    float: right;
}






/* -------------- Annað -------------- */

/* veit ekki hvað þetta er */
.box {
    top: 50%;
    left: 50%;
    padding-left: 47%;
    transform: translate(-50%, -50%);
}

/* search bar --> bæði í footer og navigation bar */
input {
    background: black;
    outline: #AB17FF;
    width: 5ch;
}

/* gerir alla takka svarta */
button {
    background: black;
}

/* held þurfi ekki */
* {
    box-sizing: border-box;
}
/*notenda-upplýsingar*/




.container #login-form-horizontal {
    width: 500px;
    height: 400px;
    text-align: center;
    margin: 0 auto;
    padding: 70px;
    display: block;
    border: 1px solid rgba(33, 33, 33, 0.38);
    box-shadow: 0px 3px 16px 3px rgba(225, 245, 235, 0.24);
    border-radius: 5px;
}


#name_input, #id_password {
    height: 35px;
    width: 300px;
    font-size: 18px;
    margin-bottom: 20px;
    padding-left: 10px;
    background-color: black;
}

#name_input:focus, #id_password:focus {
    background-color: #ffffff;
    color: black;
}

#submit_login{
    background: black;
    width: 100px;
    vertical-align: top;
    border: 2px solid #90FFFF;
}

.container #register-form-horizontal {
    width: 500px;
    height: 400px;
    text-align: center;
    margin: 0 auto;
    padding: 70px;
    display: block;

}

.signup {
    display: block;
    width: 95%;
    height: auto;
}


#register-form-horizontal.form.form-horizontal {
    width: 500px;
    height: 400px;
    border: 1px solid rgba(33, 33, 33, 0.38);
    margin: auto;
    display: block;
    box-shadow: 0px 3px 16px 3px rgba(225, 245, 235, 0.24);
    border-radius: 5px;
}

#name-input, #id_password1, #id_password2 {
    height: 35px;
    width: 300px;
    font-size: 18px;
    margin-bottom: 20px;
    padding-left: 10px;
    background-color: black;
}

#submit_register{
    background: black;
    width: 100px;
    vertical-align: top;
    border: 2px solid #90FFFF;
}









.profile-image {
    width: 40%;
    height: 40%;
    float: left;
    display: inline-block;
}




.dropdown-content button.price-btn{
    border: none;
    padding: 12px 16px;
    min-width: 160px;
    position: relative;
    display: inline-block;
    text-align:left;
}

.dropdown-content button:focus {
    outline: none;
}

.dropdown-content button:hover {
    background-color: #393939;
}

.dropdown-content button.brand-btn {
    border: none;
    padding: 12px 16px;
    min-width: 160px;
    position: relative;
    display: inline-block;
    text-align:left;

}




.form.form-horizontal {
    display: inline-block;
    padding-left: 10%;
}

/*update takki*/
.btn.btn-primary {
    background: black;
    width: 80px;
    display: inline-block;
    vertical-align: top;
    margin: 5px;
    border: 2px solid #90FFFF
}

.form.form-horizontal input {
    background: black;
    color: white;
    border: 0.5px solid #FFFFFF
}

/*notenda-mynd*/
.profile-image {
    width: 40%;
    height: 40%;
    float: left;
    display: inline-block;
}

.cart h2 {
    padding-left: 40%;
    padding-bottom: 10%;
}

.cart button {
    width: 90px;
    height: 40px;
}

