/* ---------------------------- navigation bar ---------------------------- */

/* navigation bar svartur*/
.container-fluid {
    background-color: black;
}


/* allur texti í navigation bar hvítur */
.nav.navbar-nav li a {
    color: white;
    background-color: black;
}

.container-fluid a{
    font-size: 17px;
}

/* Captain Console (logo) white */
.navbar-default .navbar-brand  {
    color: white;
}

/* tekur hvítan border line og festir nav bar */
.navbar {
    border: none;
    position: fixed;
    top: 0;
    width: 100%;
    margin-top: 0px
}

#cart {
    color: white;
    padding: 15px;
    padding-left: 5px;
    padding-right: 5px;
}

#heart-nav-bar {
    padding: 15px;
    padding-top: 18px;
    padding-right: 5px;
}

#account-img {
    padding: 15px;
    padding-left: 10px;
}

#search-box.form-control {
    background-color: black;
    color: white;
    height: 29px;
    width: 240px;
}

.input-group-btn {
    background-color: black;
}

#search-btn.btn-default {
    height: 29px;
    background-color: black;
    text-shadow: none;
    background-position: 0 -30px;
    width: 45px;
}

.glyphicon.glyphicon-search {
    color: white;
    background-color: black;
}

#search-form{
    margin-top: 12px;
}




/* search -> navbar */
/*
.input-group.md-for.form-sm.form-2 input {
  border: 1px solid #bdbdbd;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}
 */

/* search -> navbar */
/*
.input-group.md-form.form-sm.form-2 input.amber-border {
  border: 1px solid #ffca28;
}
 */
