/* ---------------------------- navigation bar ---------------------------- */

/* navigation bar svartur*/
.container-fluid {
    background-color: black;
}

/* allur texti í navigation bar hvítur */
.nav.navbar-nav li a {
    color: white;
    background-color: black;
}

/* Captain Console (logo) white */
.navbar-default .navbar-brand  {
    color: white;
}


#cart {
    color: white;
    padding: 15px;
}

#heart-nav-bar {
    padding: 15px;
    padding-top: 20px;
}

#account-img {
    padding: 15px;
}





/* search -> navbar */
/*
.input-group.md-form.form-sm.form-2 input {
  border: 1px solid #bdbdbd;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}
 */

/* search -> navbar */
.input-group.md-form.form-sm.form-2 input.amber-border {
  border: 1px solid #ffca28;
}



/* tekur hvítan border line */
.navbar {
    border: none;
    position: fixed;
    top: 0;
    width: 100%;
    margin-top: 0px
}