#create-order {
    display: inline-block;
    vertical-align: top;
    border: 2px solid #90FFFF;
    float: right;
    margin: 5px 5px 70px;
}


/* product quantity button */
#quantity-displayorder {
    text-align: right;
    background-color: black;
    border: none;
    width: 32px;
    height: 25px;
}

#quantity-order-history {
    text-align: right;
    background-color: black;
    border: none;
    width: 32px;
    height: 25px;
}

#email {
    color: black;
}

.order-overview #order-success {
    font-size: 22px;
    color: #ffffff;
}
.order-overview #pick-up-parcel {
    font-size: large;
}

.order-overview #opening-hours {
    font-size: medium;
}

#full-name {
    font-size: large;
}

#order-overview-NEON {
    width: 600px;
    height: auto;
    margin-top: 70px;
    padding: 10px 70px 20px 0;
    display: block;
}

.order-overview #contact-information {
    font-size: 19px;
    color: #90FFFF;
}

#shop-more-btn {
    font-size: large;
    display: inline-block;
    vertical-align: top;
    border: 2px solid #90FFFF;
    float: left;
    margin: 5px 5px 70px 380px;
}

.contact-info, .pickup-info {
    display: inline-block;
}

.pickup-info {
    margin-left: 45px;
}

.order-history h2 {
    padding-top: 8%;
    margin-left: 35%;
    margin-bottom: 5%;

}

.payment-info {
    display: inline-block;
    margin-left: 45px;
}

.order #credit-card-information{
    font-size: 19px;
    color: #90FFFF;
}

.order #contact-information {
    font-size: 19px;
    color: #90FFFF;
}

#order-history-NEON {
    width: 500px;
    height: auto;
    margin-top: 70px;
    padding: 10px 70px 20px 0;
    display: block;
}
