#create-order {
    display: inline-block;
    vertical-align: top;
    margin: 5px;
    border: 2px solid #90FFFF;
    float: right;
    margin-bottom: 70px;
}


/* product quantity button */
#quantity-displayorder {
    text-align: right;
    background-color: black;
    border: none;
    width: 32px;
    height: 25px;
}

#email {
    color: black;
}

/* texti hvitur */
.payment input, .payment select {
    background: black;
    color: white;
}

#processed-order {
    float: right;
}

/* texti hvitur */
.deliveries input, .deliveries select {
    background: black;
    color: white;
}

.deliveries input:invalid {
    border: 1px solid red;
}


