#create-order {
    display: inline-block;
    vertical-align: top;
    margin: 5px;
    border: 2px solid #90FFFF;
    float: right;
    margin-bottom: 70px;
}


/* product quantity button */
#quantity-displayorder {
    text-align: right;
    background-color: black;
    border: none;
    width: 32px;
    height: 25px;
}

#email {
    color: black;
}

.order-overview #order-success {
    font-size: 22px;
    color: #ffffff;
}
.order-overview #pick-up-parcel {
    font-size: large;
}

.order-overview #opening-hours {
    font-size: medium;
}

#full-name {
    font-size: large;
}

#order-overview-NEON {
    width: 600px;
    height: auto;
    margin-top: 70px;
    padding: 70px;
    padding-left: 0px;
    padding-top: 10px;
    padding-bottom: 20px;
    display: block;
}

.order-overview #contact-information {
    font-size: 19px;
    color: #90FFFF;
}

#shop-more-btn {
    display: inline-block;
    vertical-align: top;
    margin: 5px;
    border: 2px solid #90FFFF;
    float: left;
    margin-bottom: 70px;
}

.contact-info, .pickup-info {
    display: inline-block;
}

.pickup-info {
    margin-left: 45px;
}

#order-history-NEON-NEON {
    width: 600px;
    height: auto;
    margin-top: 70px;
    padding: 70px;
    padding-left: 0px;
    padding-top: 10px;
    padding-bottom: 20px;
    display: block;
}