/* -------------- PRODUCTS -------------- */

.product {
    margin-top: 50px;
}

/* NEON - all products img */
.allproducts-img{
    display: block;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* setur vörur í fina röð */
.products {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 50px;
    margin-bottom: 50px;
    box-shadow: 0px 3px 16px 3px rgba(225, 245, 235, 0.24);
    border-radius: 5px;

}

/* texti undir myndir hvitur --- VEIT EKKI HVORT ÞARF!! */
.single-product h4 {
    color: white;

}

/* setur texta undir myndr í miðjuna */
.single-product {
    text-align: center;
    margin-bottom: 70px;
    margin-top: 50px;

}

/*hver og ein mynd af vöru*/
.product-img {
    object-fit: contain;
    /*width:  160px;
    height: 180px;*/
    width: 220px;
    height: 220px;

}




/* -------------- PRODUCT DETAIL -------------- */

/* NEON - product detail img */
.productdetails {
    display: block;
    width: 40%;
    height: auto;
}

/* setur nafn, verð, lit og framleiðanda í inline-block við product-img */
.product-details div {
    display: inline-block;
    vertical-align: top;
    margin: 20px;
}

/* setur product-img í inline-block við nafn, verð, lit og framleiðanda */
.product-details .product-img {
    display: inline-block;
    margin: 20px;
}

/* heldur utan um quantity cart og wishlist takka --> PRODUCT DETAIL */
.quantity_cart_wishlist {
    margin: 5px;
}

/* fyrir logged in people --> PRODUCT DETAIL */
#add_to_cart_btn {
    display: inline-block;
    vertical-align: top;
    margin: 5px;
    border: 2px solid #90FFFF;
}

/* fyrir loggedout people --> PRODUCT DETAIL */
#add_to_cart {
    display: inline-block;
    vertical-align: top;
    margin: 5px;
    border: 2px solid #90FFFF;
}
