/* -------------- PRODUCTS -------------- */

#all-products {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/* NEON - all products img */
/* má taka út 'class="all-products-img"' í product/index.html?? */
#all-products-NEON{
    display: block;
    height: auto;
    margin-top: 100px;
}

/* setur vörur í fina röð */
.products {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 60px;
    margin-bottom: 50px;
    box-shadow: 0px 3px 16px 3px rgba(225, 245, 235, 0.24);
    border-radius: 5px;
    clear: both;
}

/* texti undir myndir hvitur */
.single-product h4 {
    color: white;
}

/* setur texta undir myndr í miðjuna */
.single-product {
    text-align: center;
    margin-bottom: 70px;
    margin-top: 50px;
}

/*hver og ein mynd af vöru*/
.product-img {
    object-fit: contain;
    width: 220px;
    height: 220px;
}




/* -------------- PRODUCT DETAIL -------------- */

/* NEON - product detail img */
/* má taka út 'class="product-details-img"' í product/product_details.html?? */
#product-details-NEON{
    display: block;
    height: auto;
    margin-top: 100px;
}

/* kassi utan um allt */
.all-product-detail  {
    margin-top: 30px;
    margin-bottom: 50px;
    box-shadow: 0px 3px 16px 3px rgba(225, 245, 235, 0.24);
    border-radius: 5px;
    clear: both;
    padding: 50px;
}

/* setur nafn, verð, lit og framleiðanda í inline-block við product-img */
.product-info {
    display: inline-block;
    vertical-align: top;
    margin: 20px;
}

/* setur product-img í inline-block við nafn, verð, lit og framleiðanda */
.carousel {
    display: inline-block;
    margin: 20px;
    margin-left: 0px;
    margin-right: 0px;
    /*width: 220px;*/
    height: 220px;
}


/* heldur utan um quantity cart og wishlist takka --> PRODUCT DETAIL */
.quantity-cart-wishlist {
    margin: 5px;
    height: 40px;
}

/* fyrir logged in people --> PRODUCT DETAIL */
#add-to-cart-btn {
    display: inline-block;
    vertical-align: top;
    margin: 5px;
    border: 2px solid #90FFFF;
    height: 30px;
    padding: 3px 6px;
}

#add-to-cart-btn:focus{
    outline:0;
}

/* fyrir loggedout people --> PRODUCT DETAIL */
#add-to-cart {
    display: inline-block;
    vertical-align: top;
    margin: 5px;
    border: 2px solid #90FFFF;
    height: 30px;
    padding: 3px 6px;
}

#add-to-cart:focus{
    outline:0;
}


#heart-product {
    padding: 15px;
    padding-top: 5px;
    padding-bottom: 15px;
}


/* add to wishlist hjörtu */
.fa-heart-o, .fa-heart {
    color: white;
    vertical-align: top;
}


/* til að skipta um hjarta þegar mús er ofaná */
.heart > .fa + .fa,
.heart:hover > .fa {
  display: none;
}


.heart:hover > .fa + .fa {
  display: inherit;
}


/*decrease product quantity */
#decrease {
    border: 1px solid white;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    width: 23px;
    height: 30px;
}

/*inecrease product quantity */
#increase {
    border: 1px solid white;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    width: 23px;
    height: 30px;
}

/*product quantity button*/
#quantity{
    text-align: right;
    background-color: black;
    border: 1px solid white;
    width: 37px;
    height: 30px;
}

.product-description h4 {
    text-decoration: underline;
}

.product-description {
    margin-right: 25px;
    margin-left: 25px;
}

/* texti undir myndir hvitur */
.single-recently-viewed h4{
    color: white;
}

/* setur texta undir myndr í miðjuna */
.single-recently-viewed {
    text-align: center;
    margin-bottom: 70px;
    margin-top: 50px;
}




.recently-viewed-box {
    margin-top: 60px;
    margin-bottom: 50px;
    padding: 90px;
    box-shadow: 0px 3px 16px 3px rgba(225, 245, 235, 0.24);
    border-radius: 5px;
    clear: both;
}

#recently-viewed-NEON {
    width: 600px;
    height: auto;
    margin-top: 20px;
    padding: 70px;
    padding-left: 40px;
    padding-top: 10px;
    padding-bottom: 20px;
    display: block;
}

/*
.product-img-extra {
    width: 120px;
    height: 120px;
    object-fit: contain;
    clear: both;
    float: left;
}
 */

/* passar að myndir verði ekki of stórar -- PRODUCT DETAIL */
.carousel-inner>.item>img {
    height: 220px;
}


.carousel-inner>.item>a>img {
    height: 220px;
    width: 200px;
    clear: both;
    display: inline;
}



/* held þurfi að vera til að sé fínt */
.recently-viewed {
    display: grid;
}


@media (min-width: 992px) {
    .single-product {
        width: 270px;
    }
}


@media (max-width: 991px) {
    .single-product {
        width: 300px;
    }
}


@media (max-width: 667px) {
    .single-product {
        width: 340px;
    }
}

.fa-angle-right {
    color: #90FFFF;
    float: right;
}

.fa-angle-left {
    color: #90FFFF;
    float: left;
}

