/* ------------------------ SIGN IN -- SIGN UP ------------------------ */

/* sign in síðan */
.container #login-form-horizontal {
    width: 500px;
    height: 400px;
    margin: 0 auto;
    padding: 70px;
    padding-left: 100px;
    padding-top: 10px;
    padding-bottom: 20px;
    display: block;
    border: 1px solid rgba(33, 33, 33, 0.38);
    box-shadow: 0px 3px 16px 3px rgba(225, 245, 235, 0.24);
    border-radius: 5px;
}

/* sign up síðan */
.container #register-form-horizontal {
    width: 500px;
    height: 450px;
    margin: 0 auto;
    padding: 70px;
    padding-left: 100px;
    padding-top: 10px;
    padding-bottom: 20px;
    display: block;
    border: 1px solid rgba(33, 33, 33, 0.38);
    box-shadow: 0px 3px 16px 3px rgba(225, 245, 235, 0.24);
    border-radius: 5px;
}

/* input gluggar á sign in og sign up síðunum */
#id_username, #id_password, #id_password1, #id_password2 {
    height: 35px;
    width: 300px;
    font-size: 18px;
    margin-bottom: 20px;
    padding-left: 10px;
    background-color: black;
    border-radius: 5px;
}

/* sign in takkinn á sign in síðunni */
#submit_login{
    background: black;
    width: 100px;
    border: 2px solid #90FFFF;
    margin-left: 100px;
}

/* sign up takkinn á sign up síðunni */
#submit_register {
    background: black;
    width: 100px;
    border: 2px solid #90FFFF;
    margin-left: 100px;
}

/* NEON */
.login {
    display: block;
    width: 95%;
    height: auto;
}

/* NEON */
.signup {
    display: block;
    width: 95%;
    height: auto;
}

/* glugginn a sign in siðunni */
.Login {
    margin-top: 100px;
    margin-bottom: 50px;
}

/* glugginn a sign up siðunni */
.register {
    margin-top: 100px;
    margin-bottom: 50px;
}

/* hjálpar texti á sign up síðunni */
.helptext {
    display: none;
}