/* ------------------------ SIGN IN -- SIGN UP ------------------------ */


/* sign in síðan og sign up síðan*/
.container #login-form-horizontal, .container #register-form-horizontal {
    width: 500px;
    height: 100%;
    margin: 0 auto;
    padding: 40px 70px 20px 100px;
    display: block;
    border: 1px solid rgba(33, 33, 33, 0.38); /* ?? */
    box-shadow: 0 3px 16px 3px rgba(225, 245, 235, 0.24);
    border-radius: 5px;
}


/* input gluggar á sign in og sign up síðunum -- ÞARF AÐ VERA UNDIRSTRIK ÞVÍ ER Í FORMI??? */
#id_username, #id_password, #id_password1, #id_password2 {
    height: 35px;
    width: 300px;
    font-size: 18px;
    margin-bottom: 20px;
    padding-left: 10px;
    background-color: black;
    border-radius: 5px;
    color: white;
    border: 1px solid white;
}


/* sign in takkinn á sign in síðunni */
#submit-login{
    background: black;
    width: 100px;
    border: 2px solid #90FFFF;
    margin-left: 100px;
}


/* sign up takkinn á sign up síðunni */
#submit-register {
    background: black;
    width: 100px;
    border: 2px solid #90FFFF;
    margin-left: 100px;
    margin-top: 20px;
}


/* glugginn a sign in siðunni */
.sign-in {
    margin-top: 100px;
    margin-bottom: 250px;
}


/* glugginn a sign up siðunni */
.register {
    margin-top: 100px;
    margin-bottom: 400px;
}


/* hjálpar texti á sign up síðunni */
.helptext {
    display: none;
}


#sign-in-NEON, #sign-up-NEON {
    width: 320px;
    height: auto;
    padding: 10px 70px 20px 40px;
    display: block;
}
