{% extends 'base.html' %}
{% block content %}
    <div class="wishlist">
        <img id="wishlist-NEON" src="https://scontent.frkv3-1.fna.fbcdn.net/v/t1.0-9/98176831_10158166953192567_3568966292234829824_n.jpg?_nc_cat=109&_nc_sid=e007fa&_nc_oc=AQm5y4vFRXoHzstiMJaO-sCxMEdH_ePQ00Ui6ZT2pJhu9y8t5rhrINTvZihIxALJ-xg&_nc_ht=scontent.frkv3-1.fna&oh=7b5bed2901129b075a7214d0a87abf73&oe=5EE1BBBE">
        <h2> Your wishlist is empty! </h2>
        <button class="btn -btn-primary" onclick="location.href='{% url 'products-index' %}';" id = "go_shop">Go shop!</button>
    </div>
{% endblock %}
