{% extends 'base.html' %}
{% block content %}

    <div class="wishlist">
        <img id="wishlist-NEON" src="https://scontent.frkv3-1.fna.fbcdn.net/v/t1.0-9/98176831_10158166953192567_3568966292234829824_n.jpg?_nc_cat=109&_nc_sid=e007fa&_nc_oc=AQm5y4vFRXoHzstiMJaO-sCxMEdH_ePQ00Ui6ZT2pJhu9y8t5rhrINTvZihIxALJ-xg&_nc_ht=scontent.frkv3-1.fna&oh=7b5bed2901129b075a7214d0a87abf73&oe=5EE1BBBE">

        <div class="table-and-buttons">
            <table class="table">
                <thead>
                    <tr>
                        <td></td>
                        <td> Product </td>
                        <td> Price </td>
                    </tr>
                </thead>

                <tbody>
                {% for item in wishlist %}
                    <tr>
                        <td>
                            <a href="/products/{{ item.product.id }}">
                                <img class="product-img-cart" src="{{ item.product.productimage_set.first.image }}">
                            </a>
                        </td>

                        <td>
                            <a href="/products/{{ item.product.id }}">
                                <h4>{{ item.product.name }} </h4>
                            </a>
                                {{ item.product.short_description }} <br>
                                {{ item.product.price }} $
                        </td>

                        <td>
                            <button class="btn -btn-primary add_to_cart_btn-wishlist" id="add_to_cart_btn-wishlist"
                                    data-id="{{ item.product.id }}">Add to cart</button>
                        </td>

                        <td>
                            <button class="bth -bth-primary remove_wishlist_item_btn" id="remove_wishlist_item_btn"
                                    data-id="{{ item.id }}"><i class="fa fa-trash fa-lg" aria-hidden="true"></i></button>
                        </td>
                    </tr>
                {% endfor %}

                </tbody>

            </table>
            <a class="btn -btn-primary" id="previous-page" href="{% url 'products-index' %}">Go back to products</a>
        </div>
    </div>

{% endblock %}
