{% extends 'base.html' %}
{% block content %}
    <div class="wishlist">
        <iframe class="cart-img" src="https://ntmaker.gfto.ru/newneontexten/?image_height=200&image_width=600&image_font_shadow_width=0&image_font_size=50&image_background_color=000000&image_text_color=90FFFF&image_font_shadow_color=000000&image_url=&image_text=Cart&image_font_family=ssvivas&" frameborder='no' scrolling='no' width="250" height="190"></iframe>
        <h4>WISHLIST</h4>
        <div class="table-and-buttons">
            <table class="table">
                <thead>
                    <tr>
                        <td></td>
                        <td> Product </td>
                        <td> Price </td>
                    </tr>
                </thead>

                <tbody>
                {% for item in wishlist %} <!-- wishlist kemur fra wislist\views.py - listi af öllum vörum sem þessi notandi hefur í wishlistanum -->
                    <tr>
                        <td>
                            <a href="/products/{{ item.product.id }}">
                                <img class="product-img_cart" src="{{ item.product.productimage_set.first.image }}">
                            </a>
                        </td>
                        <td>
                            <a href="/products/{{ item.product.id }}">
                                <h4>{{ item.product.name }} </h4>
                            </a>
                                {{ item.product.short_description }} <br>
                                {{ item.product.price }} $
                        </td>

                        <td><button class="btn -btn-primary add_to_cart_btn-wishlist" id="add_to_cart_btn-wishlist" data-id="{{ item.product.id }}">Add to cart</button></td>
                        <td><button class="bth -bth-primary remove_wishlist_item_btn" id="remove_wishlist_item_btn" data-id="{{ item.id }}"><i class="fa fa-trash fa-lg" aria-hidden="true"></i></button></td>

                    </tr>


                {% endfor %}

                </tbody>

            </table>
            <a class="btn -btn-primary" id="previous-page" href="{% url 'products-index' %}">Go back to products</a>
        </div>
    </div>

{% endblock %}
