{% extends 'base.html' %}
{% block content %}
    <div class="product">
    <iframe class="allproducts-img" src="https://ntmaker.gfto.ru/newneontexten/?image_height=200&image_width=600&image_font_shadow_width=0&image_font_size=50&image_background_color=000000&image_text_color=90FFFF&image_font_shadow_color=000000&image_url=&image_text=All products&image_font_family=ssvivas&" frameborder='no' scrolling='no' width="500" height="200"></iframe>
    </div>

    <div class="both-drop-down">
        <div class="dropdown-brand">
          <button class="dropbtn">Brand
            <span class="caret"></span>
          </button>
            <div class="dropdown-content">
                  {% for brand in manufacturers  %}
                      <button class="brand-btn" id="brand-btn" data-name="{{ brand }}">{{ brand }}</button>
                  {% endfor %}
              </div>
        </div>



        <div class="dropdown-sort">
          <button class="dropbtn">Sort by
            <span class="caret"></span>
          </button>
          <div class="dropdown-content">
              <button class="price-btn" id="price-btn" data-name="1">Price low to high</button>
          </div>
        </div>
    </div>



    <div class="products" id ="all_products">
        {% for product in products %}
            {% include 'product/single_product.html' with product=product %}
        {% endfor %}
    </div>
{% endblock %}

