{% extends 'base.html' %}
{% block content %}

    <img class="all-products-img" alt="All products image" id="all-products-NEON" src="https://scontent.frkv3-1.fna.fbcdn.net/v/t1.0-9/97034301_10158187529833972_5585139325273636864_o.jpg?_nc_cat=106&_nc_sid=0debeb&_nc_ohc=MCSvIKB53x8AX9slRuv&_nc_ht=scontent.frkv3-1.fna&oh=18219a3b70a95f441ce5807fbbb1a894&oe=5EDF2563">

    <div class="both-drop-down">
        <div class="dropdown-brand">
            <button class="dropbtn">Filter by
                <span class="caret"></span>
            </button>

            <div class="dropdown-content">
                <a href="{% url 'products-index' %}" class="brand-btn" id="brand-btn" >All products</a>
                {% for filter in manufacturers  %}
                    <a href="/products/{{ filter }}" class="brand-btn" id="brand-btn" data-name="{{ filter }}">{{ filter }}</a>
                {% endfor %}
              </div>
        </div>

        <div class="dropdown-sort">
          <button class="dropbtn">Sort by
            <span class="caret"></span>
          </button>
          <div class="dropdown-content">
              <button class="name-btn" id="name-price-btn" data-name="name">Name</button>
              <button class="min-price-btn" id="min-price-btn" data-name="min">Price low to high</button>
              <button class="max-price-btn" id="max-price-btn" data-name="max">Price high to low</button>
          </div>
        </div>
    </div>



    <div class="products" id ="all-products">
        {% for product in products %}
            {% include 'product/single_product.html' with product=product %}
        {% endfor %}
    </div>
{% endblock %}

