{% extends "base.html" %}
{% load static %}
{% block content %}

    <img class="product-details-img" id="product-details-NEON" src="https://scontent.frkv3-1.fna.fbcdn.net/v/t1.0-9/96426986_10158190330363972_8993374094317584384_o.jpg?_nc_cat=109&_nc_sid=0debeb&_nc_ohc=o428PqnkCscAX8GZemW&_nc_ht=scontent.frkv3-1.fna&oh=d52a57346275332cae9d9cef35f39365&oe=5EDED50E" frameborder='no' scrolling='no' width="500" height="200">
    <div class="all-product-detail">
        <div class="product-details">


            <div id="myCarousel" class="carousel">

                <div class="carousel-inner">
                    {% for product_image in product.productimage_set.all %}
                        {% if forloop.counter == 1 %}
                            <div class="item active">
                                <img src="{{ product_image.image }}" class="product-img" />
                            </div>
                        {% else %}
                            <div class="item">
                                <img src="{{ product_image.image }}" class="product-img extra" />
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                </ol>
            </div>

            <div class="product-info">
                <h1>{{ product.name }}</h1>
                <p>{{ product.price }}$</p>
                <p>{{ product.color }}</p>
                <p>{{ product.manufacturer }}</p>
                <div class="quantity-cart-wishlist">

                    <div class="nice-number" id="nice-number">
                        <div class="pull-left">
                            <button class="decrease-value" id="decrease">-</button>
                        </div>
                        <input id="quantity" type="number" value="1" disabled>
                        <div class="pull-right">
                            <button class="increase-value" id="increase">+</button>
                        </div>
                    </div>

                    {% if user.is_authenticated %}
                        <button class="btn -btn-primary" id="add-to-cart-btn" data-id="{{ product.id }}">Add to cart</button>
                        <a id="add-to-wishlist-btn" data-id="{{ product.id }}" class="heart" data-toggle="tooltip"
                           data-placement="top" title="Add to Wishlist">
                            <i class="fa fa-heart-o fa-2x" id="heart-product"></i>
                            <i class="fa fa-heart fa-2x" id="heart-product"></i>
                        </a>
                     {% else %}
                        <button class="btn -btn-primary" onclick="location.href='{% url 'login' %}?next={{request.path}}';"
                                id = "add-to-cart">Add to cart</button>
                    {% endif %}

                </div>
            </div>
        </div>

        <div class="product-description">
            <h4>Description</h4>
            <p>{{ product.long_description }}</p>
        </div>
    </div>

    {% if cookie_product_id %}
        <div class="recently-viewed-box">
            <img id="recently-viewed-NEON" src="https://scontent.frkv3-1.fna.fbcdn.net/v/t1.0-9/96688090_10158166842747567_905460701785489408_n.jpg?_nc_cat=103&_nc_sid=e007fa&_nc_oc=AQnvkKQ99KPGO8tuwbOKGhbH4j3G3B5PUpB4Vhbdpz6ELjTiJniNs5tpe0Dl5Qkn8t0&_nc_ht=scontent.frkv3-1.fna&oh=db3462f7dbc8e8cc1f7fe5b97bebd479&oe=5EE2B101"></img>


                <a class="left recommended-item-control" href="#recommended-item-carousel" data-slide="prev">
                    <i class="fa fa-angle-left fa-5x"></i>
                </a>

                <a class="right recommended-item-control" href="#recommended-item-carousel" data-slide="next">
                    <i class="fa fa-angle-right fa-5x"></i>
                </a>

        <div class="recently-viewed">


                <div id="recommended-item-carousel" class="carousel slide" data-ride="carousel">


                    <div class="carousel-inner" id="carousel-inner-id">



                        <div class="item active">

                                {% for product_id in cookie_product_id reversed %}
                                    <div class="col-sm-3">
                                        <div class="product-image-wrapper1">
                                            {% include 'product/recently_viewed.html' with product_id=product_id %}
                                        </div>
                                    </div>
                                    {% if forloop.counter|divisibleby:4 and not forloop.last %}
                                    </div>
                                        <div class="item">
                                    {% endif %}
                                {% endfor %}


                        </div>
                    </div>

            </div>


            </div>
        </div>
    {% endif %}
{% endblock %}
