

{% extends "base.html" %}
{% load static %}
{% block content %}
    <img class="productdetails" src="https://scontent.frkv3-1.fna.fbcdn.net/v/t1.0-9/96013030_10158139329987567_4199711239271612416_n.jpg?_nc_cat=100&_nc_sid=e007fa&_nc_oc=AQmLLQCCJ_2BuXXnF6ZOlq54VbKUDlRhB1ujwsm8W-DGJCSy1MKjFsHg_pzXhAEMLFM&_nc_ht=scontent.frkv3-1.fna&oh=644930f0dd3d7435701f542f8be0c3ef&oe=5ED6E0B5">
    <div class="product-details">
        {% for product_image in product.productimage_set.all %}
            <img src="{{ product_image.image }}" class="product-img" />
        {% endfor %}
        <div>
            <h1>{{ product.name }}</h1>
            <p>{{ product.price }}$</p>
            <p>{{ product.color }}</p>
            <p>{{ product.manufacturer }}</p>

            <div class="nice-number">
               <button id="decrease" onclick="decreaseValue()">-</button>
               <input type="number" value="1" disabled>
               <button id="increase" onclick="increaseValue()">+</button>
            </div>
        </div>


            <a href="{% url 'cart' %}">Add to Cart</a><br>
            <!-- <li><a href="/cart/">Add to Cart</li> -->
            <!--<li><a href="% url 'cart' product.id %}">Add to Cart</a></li> -->
            <button class="btn -btn-primary" onclick=get_id({{ product.id }}{{ product.name }})>Add to Cart</button>
            <!--<a href="% url 'cart' %}?id=product.id"> -->
            <a href="#">Add to Wishlist</a>
        </div>
    </div>
    <div class="product-description">
        <p>{{ product.long_description }}</p>
    </div>
{% endblock %}