{% extends "base.html" %}
{% load static %}
{% block content %}

    <img class="productdetails-img"  src="https://scontent.frkv3-1.fna.fbcdn.net/v/t1.0-9/96426986_10158190330363972_8993374094317584384_o.jpg?_nc_cat=109&_nc_sid=0debeb&_nc_ohc=o428PqnkCscAX8GZemW&_nc_ht=scontent.frkv3-1.fna&oh=d52a57346275332cae9d9cef35f39365&oe=5EDED50E" frameborder='no' scrolling='no' width="500" height="200">
    <div class="all-product-detail">
        <div class="product-details">
            <div class="product-detail-images">
                {% for product_image in product.productimage_set.all %}
                    {% if forloop.counter == 1 %}
                        <img src="{{ product_image.image }}" class="product-img" />
                    {% else %}
                        <img src="{{ product_image.image }}" class="product-img-auka" />
                    {% endif %}
                {% endfor %}
            </div>
            <div class="product-info">
                <h1>{{ product.name }}</h1>
                <p>{{ product.price }}$</p>
                <p>{{ product.color }}</p>
                <p>{{ product.manufacturer }}</p>
                <div class="quantity_cart_wishlist">

                    <div class="nice-number" id="nice-number">
                        <div class="pull-left">
                            <button class="decrease_value" id="decrease">-</button>
                        </div>
                        <input id="quantity" type="number" value="1" disabled>
                        <div class="pull-right">
                            <button class="increase_value" id="increase">+</button>
                        </div>
                    </div>

                    {% if user.is_authenticated %}
                        <button class="btn -btn-primary" id="add_to_cart_btn" data-id="{{ product.id }}">Add to cart</button>
                        <a id="add_to_wishlist_btn" data-id="{{ product.id }}" class="heart" data-toggle="tooltip" data-placement="top" title="Add to Wishlist">
                        <i class="fa fa-heart-o fa-2x" id="heart-product"></i>
                        <i class="fa fa-heart fa-2x" id="heart-product"></i>
                    </a>
                     {% else %}
                        <button class="btn -btn-primary" onclick="location.href='{% url 'login' %}?next={{request.path}}';" id = "add_to_cart">Add to cart</button>
                    {% endif %}

                    <!-- ef mús fer yfir fyllist hjarta og texti "Add to Wishlist" -->


                </div>

            </div>
        </div>

        <div class="product-description">
            <h4>Description</h4>
            <p>{{ product.long_description }}</p>
        </div>
    </div>
    <div class="recently-viewed-box">
        <iframe id="recently-viewed-NEON" src="https://ntmaker.gfto.ru/newneontexten/?image_height=200&image_width=600&image_font_shadow_width=30&image_font_size=30&image_background_color=000000&image_text_color=90FFFF&image_font_shadow_color=000000&image_url=&image_text=Recently viewed items&image_font_family=ssvivas&" frameborder='no' scrolling='no' width="500" height="100"></iframe>
        <!--<h3>Recently viewed items</h3>-->
        <div class="recently-viewed">
            {% for key, product_id  in request.COOKIES.items %}
                {% for product in all_products %}
                    {% if forloop.parentloop.counter == 1 or forloop.parentloop.counter == 2 or forloop.parentloop.counter == 3 or forloop.parentloop.counter == 4 %}
                        {% include 'product/recently_viewed.html' with product=product %}
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
