
{% if product_id|add:0 == product.id %}

        {% if forloop.parentloop.counter == 1 or forloop.parentloop.counter == 2 or forloop.parentloop.counter == 3 or forloop.parentloop.counter == 4 %}
                <div class="item active recently-viewed" id="recently-viewed">
                    <a href="/products/{{ product.id }}">
                        <img class="product-img" src="{{ product.productimage_set.first.image }}" />
                        <h4>{{ product.name }}</h4>
                    </a>
                    <p>{{ product.short_description }}</p>
                    <p>{{ product.price }}$</p>
                </div>
        {% else %}
            <div class="item recently-viewed" id="recently-viewed">
                <a href="/products/{{ product.id }}">
                    <img class="product-img-extra" src="{{ product.productimage_set.first.image }}" />
                    <h4>{{ product.name }}</h4>
                </a>
                <p>{{ product.short_description }}</p>
                <p>{{ product.price }}$</p>
            </div>
        {% endif %}

{% endif %}





<div id="recommended-item-carousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="item active">
        {% for prod in pro %}
            <div class="col-sm-3">
                <div class="product-image-wrapper1">
                    <div class="single-products">
                        <div class="productinfo text-center">
                            <!--sample image, same for all--><img src="{% static 'header/images/home/2508__14291.1437672247.200.200.jpg' %}" alt="" />
                            <h2>{{prod.productname}}</h2>
                            <p>{{prod.producttype}}</p>
                            <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                        </div>
                    </div>
                </div>
            </div>
           {% if forloop.counter|divisibleby:4 and not forloop.last %}
           </div>
           <div class="item">
           {% endif %}
        {% endfor %}
        </div>
    </div>
    <a class="left recommended-item-control" href="#recommended-item-carousel" data-slide="prev">
    <i class="fa fa-angle-left"></i>
    </a>
    <a class="right recommended-item-control" href="#recommended-item-carousel" data-slide="next">
    <i class="fa fa-angle-right"></i>
    </a>
</div>
