
<div class="single-products">
    <div class="productinfo text-center">
        {% for product in all_products %}
            {% if product_id == product.id %}
                <a href="/products/{{ product.id }}">
                    <img class="product-img" alt="Product image" src="{{ product.productimage_set.first.image }}" />
                    <h4>{{ product.name }}</h4>
                </a>
                <p>{{ product.short_description }}</p>
                <p>{{ product.price }}$</p>
            {% endif %}
        {% endfor %}
    </div>
</div>
