<nav class="navbar navbar-default" xmlns="http://www.w3.org/1999/html">
    <div class="container-fluid">

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="{% url 'home-index'%}"> <img src="https://scontent.frkv3-1.fna.fbcdn.net/v/t1.0-9/96511671_10158185265663972_4464422009438208000_o.jpg?_nc_cat=100&_nc_sid=e007fa&_nc_ohc=2Et9fvUtIvcAX-tSj_A&_nc_ht=scontent.frkv3-1.fna&oh=c6b588c0b4bb2429da3e4b019e2ca9df&oe=5EDF82BC" width="240" height="30"></img>  <span class="sr-only">(current)</span></a></li>
                <li><a href="{% url 'products-index' %}">Products </a></li>
            </ul>


            <ul class="nav navbar-nav navbar-right">
                <!-- search icon -->
                <!-- <i class="fa fa-search fa-sm" aria-hidden="true"></i> -->
                <div class="search-navigationbar">
                    <form action="/products" method="get" class="navbar-form navbar-left" id="search-form" role="search">
                        <input type="search"  id="search-box" name="search-text" placeholder="Search...">
                        <button id="disabled-navigation-btn"><i id="fa_search" class="fa fa-search"></i></button>
                    </form>
                </div>


                <li class="login-navigationbar">
                    {% if user.is_authenticated %}
                        <div class="dropdown-nav-bar">
                            <button class="dropbtn_nav"><i class="fa fa-user fa-lg" id="account-img" ></i></button>
                            <div class="dropdown-content-navbar">
                              <a href="{% url 'profile' %}" class="nav-drop-btn" >My account</a>
                              <a href="{% url 'logout' %}" class="nav-drop-btn" >Sign out</a>
                            </div>
                        </div>


                    {% else %}
                        <li><a href="{% url 'login' %}">Sign in</a></li>
                        <li><a href="{% url 'register' %}">Sign up</a></li>
                    {% endif %}
                </li>

                <li class="heart">
                    <i class="fa fa-heart-o fa-lg" id="heart-nav-bar"></i>
                    <i class="fa fa-heart fa-lg" id="heart-nav-bar"></i>
                </li>
                <li><a id="cart" href="{% url 'cart-index' %}"><i class="fa fa-shopping-cart fa-lg"></i></a></li>


            </ul>

        </div><!-- /.navbar-collapse -->

    </div> <!-- /.container-fluid -->
</nav>
