{% extends 'base.html' %}

{% block content %}
    <div class="delivery_option">

     <iframe class="delivery"  src="https://ntmaker.gfto.ru/newneontexten/?image_height=200&image_width=600&image_font_shadow_width=30&image_font_size=44&image_background_color=000000&image_text_color=90FFFF&image_font_shadow_color=000000&image_url=&image_text=Delivery information&image_font_family=ssvivas&" frameborder='no' scrolling='no' width="900" height="200"></iframe>

    <form method="post" class="form form-horizontal" id="delivery-form-horizontal">
        <h4> If you order before 14:00 you will receive your parcel the same day between 19:00 - 21:00 </h4>
        <h4> If you order after 14:00 you will receive your parcel the following day between 19:00 - 21:00 </h4>

        {% csrf_token %}
        <div class='deliveries'>
            {{ form.as_table }}
        </div>

        <input type="submit" class="btn btn-primary" value="Continue to payment" id="submit_delivery"/>
    </form>
    </div>
{% endblock %}