{% extends 'base.html' %}
{% block content %}

    <div class="order">

        <img class="order-overview-img" id="order-overview-NEON" src="https://scontent.frkv3-1.fna.fbcdn.net/v/t1.0-9/98154675_10158170413967567_2815162504873771008_n.jpg?_nc_cat=106&_nc_sid=e007fa&_nc_oc=AQmAOepIek6-ejWZKj1R3IaiYSsIxC3y4LvQOJ_6V0H_li1BQZjuDeN6OaZW8eVii4g&_nc_ht=scontent.frkv3-1.fna&oh=b5ea90a176c5c41d170840cf6c8cd4c9&oe=5EE189D3">

        <div class="table-and-buttons">
            <table class="table">
                <thead>
                    <tr>
                        <td></td>
                        <td> Product </td>
                        <td> Quantity </td>
                        <td> Price </td>
                    </tr>
                </thead>

                <tbody>
                {% for cart in carts %}
                    <tr>
                        <td>
                            <img class="product-img-cart" src="{{ cart.product.productimage_set.first.image }}">
                        </td>

                        <td>
                            <h4>{{ cart.product.name }} </h4>
                            {{ cart.product.short_description }} <br>
                            {{ cart.product.price }} $
                        </td>

                        <td>
                            <input id="quantity-displayorder" data-id="{{ cart.product.id }}" type="number" value="{{ cart.quantity }}" disabled>
                        </td>

                        <td>
                            {% for product, price in eachItemTotal.items %}
                                {% if product == cart.product.id %}
                                    {{ price }}
                                {% endif %}
                            {% endfor %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>

                {% for x in info %}
                    <td>
                        <h4 id="full-name">{{ x.full_name }} </h4>
                        {{ x.email_address }}<br>
                        {{ x.phone_number }}<br>
                        {{ x.home_address }}<br>
                        {{ x.city }}
                        {{ x.country }}
                        {{ x.zip_code }}
                        {{ x.additional_info }}
                    </td>
                {% endfor %}
                <td id="total" colspan="3"> <h4>Total:</h4></td>
                <td id="total" colspan="2"> <h4> {{ sumTotal }} </h4></td>

            </table>
            <a class="btn -btn-primary" id="previous-page" href="{% url 'payment-index' %}">Go back to payment</a>
            <a class="btn -btn-primary" id="create-order" >Confirm order</a>
        </div>
    </div>

{% endblock %}
