{% extends 'base.html' %}
{% block content %}

    <div class="order-history">
        <img class="order-history-img" id="order-history-NEON" src="https://scontent.frkv3-1.fna.fbcdn.net/v/t1.0-9/96424532_10158190365528972_371126728182988800_n.jpg?_nc_cat=101&_nc_sid=0debeb&_nc_ohc=JPjhIuhqqzcAX8N3S-L&_nc_ht=scontent.frkv3-1.fna&oh=5cbff76af5019459586212165490a801&oe=5EDF8331" frameborder='no' scrolling='no' width="250" height="190">
        <h2> You have no previous orders! </h2>

        <button class="btn -btn-primary" onclick="location.href='{% url 'products-index' %}';"
                id = "go-shop">Go shop <i class="fa fa-gamepad"></i></button>
    </div>

{% endblock %}
