{% extends 'base.html' %}
{% block content %}

    <div class="order-history">
        <img class="order-history-img" alt="Neon order history logo" id="order-history-NEON" src="https://scontent.frkv3-1.fna.fbcdn.net/v/t1.0-9/96828032_10158197971628972_1665970268830433280_n.jpg?_nc_cat=103&_nc_sid=0debeb&_nc_ohc=XPOYqFOPqZUAX9ZqYRb&_nc_ht=scontent.frkv3-1.fna&oh=430a35d7895ae98e6f97bdb97074402f&oe=5EE1A804">
        <h2> You have no previous orders! </h2>

        <button class="btn -btn-primary" onclick="location.href='{% url 'products-index' %}';"
                id = "go-shop">Go shop <i class="fa fa-gamepad"></i></button>
    </div>

{% endblock %}
