{% extends 'base.html' %}
{% block content %}

    <div class="order-overview">
        <img class="order-overview-img" id="order-overview-NEON" src="https://scontent.frkv3-1.fna.fbcdn.net/v/t1.0-9/96790235_10158197493443972_2000969076444233728_o.jpg?_nc_cat=103&_nc_sid=0debeb&_nc_ohc=claK_gRLF1wAX8ZGui1&_nc_ht=scontent.frkv3-1.fna&oh=04832a635296c8e09030f59bafae285f&oe=5EE47153">

        {% for x in info %}
            <h4 id="order-success">Congratulations {{ x.full_name }} - Your order was successful!</h4>

            <div class="contact-info">
                <h3 id="contact-information">Contact information</h3>
                {{ x.full_name }}<br>
                {{ x.email_address }}<br>
                {{ x.phone_number }}<br>
                {{ x.home_address }}<br>
                {{ x.city }}
                {{ x.country }}
                {{ x.zip_code }}
                {{ x.additional_info }}<br>
            </div>
        {% endfor %}

            <div class="pickup-info">
                <br><h4 id="contact-information">You can collect your order:</h4>
                    Monday - Friday 11:30 – 19:00<br>
                    Saturday 12:00 – 18:00<br>
                    Sunday 13:00 – 18:00
            </div>

        <div class="table-and-buttons">
            <table class="table">
                <thead>
                    <tr>
                        <td></td>
                        <td> Product </td>
                        <td> Quantity </td>
                        <td> Price </td>
                    </tr>
                </thead>

                <tbody>
                {% for cart in carts %}
                    <tr>
                        <td>
                            <img class="product-img-cart" src="{{ cart.product.productimage_set.first.image }}">
                        </td>

                        <td>
                            <h4>{{ cart.product.name }} </h4>
                            {{ cart.product.short_description }} <br>
                            {{ cart.product.price }} $
                        </td>

                        <td>
                            <input id="quantity-displayorder" data-id="{{ cart.product.id }}"
                                   type="number" value="{{ cart.quantity }}" disabled>
                        </td>

                        <td>
                            {% for product, price in eachItemTotal.items %}
                                {% if product == cart.product.id %}
                                    {{ price }}
                                {% endif %}
                            {% endfor %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>

                <td id="total" colspan="3"> <h4>Total:</h4></td>
                <td id="total" colspan="2"> <h4> {{ sumTotal }} </h4></td>

            </table>
            <a class="btn -btn-primary" id="shop-more-btn" href="{% url 'products-index' %}">Want something else? Keep on shopping!</a>
        </div>
    </div>

{% endblock %}
