{% extends 'base.html' %}
{% block content %}

    <div class="sign-in">

        <form method="post" class="form form-horizontal" id="login-form-horizontal">
            <img id="sign-in-NEON" src="https://scontent.frkv3-1.fna.fbcdn.net/v/t1.0-9/96525104_10158166861207567_6177378984263680000_n.jpg?_nc_cat=103&_nc_sid=e007fa&_nc_oc=AQlxXeOEflfESo7hpzppsw_eippZCwoqYEc5kv3L0Z4bog2eo5janitwFRwY6XEAPkw&_nc_ht=scontent.frkv3-1.fna&oh=c8e4b913bb29d433c2d34abef96c2f2f&oe=5EE11477">

            {% csrf_token %}
            {{ form }}

            <input type="submit" class="btn btn-primary" value="Sign in" id="submit-login"/>
        </form>
    </div>

{% endblock %}