{% extends "base.html" %}
{% block content %}

    <img id="profile-info-NEON" src="https://scontent.frkv3-1.fna.fbcdn.net/v/t1.0-9/96672183_10158166932102567_3758131456702939136_n.jpg?_nc_cat=110&_nc_sid=e007fa&_nc_oc=AQljuPYe-6zMm5dNjAhAyoob7twgoukwyv4eTPuScYTLXJ8iJoY-RpUJxFUmUxkD3jQ&_nc_ht=scontent.frkv3-1.fna&oh=3cefce5f7789d89e63e54a7ce8cdbb42&oe=5EE3C647">
    <form class="form form-horizontal" id="profile-info" method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" class="btn btn-primary" value="Update">
    </form>

    {% if user.is_authenticated %}
        <img src="{{ user.profile.profile_image }}" class="profile-image"
             onerror="this.src='https://ualr.edu/studentaffairs/files/2020/01/blank-picture-holder.png';"/>
    {% endif %}

{% endblock %}

