{% extends 'base.html' %}
{% block content %}
    <div class="register"> <!-- TODO: Laga þannig komi villuboð ef rangt -->

        <form class="form form-horizontal" method="post" id="register-form-horizontal">
            <!-- <img class="signup" src="https://scontent.frkv3-1.fna.fbcdn.net/v/t1.0-9/95988761_10158139212232567_2812288407248568320_n.jpg?_nc_cat=103&_nc_sid=e007fa&_nc_oc=AQn00Xr5woK-_yeqp5HXbEYmds0Q5MBtd91v-DXe2CZO4yEmhzeatMj9GXh4YgZMr_4&_nc_ht=scontent.frkv3-1.fna&oh=5239797a671b85963df60bbf3174c1b7&oe=5ED58860"> -->
            <iframe  src="https://ntmaker.gfto.ru/newneontexten/?image_height=200&image_width=600&image_font_shadow_width=0&image_font_size=40&image_background_color=000000&image_text_color=90FFFF&image_font_shadow_color=000000&image_url=&image_text=Sign up&image_font_family=ssvivas&" frameborder='no' scrolling='no' width="300" height="100"></iframe>

            {% csrf_token %}
            {{ form }}

            <input type="submit" class="btn btn-primary" value="Sign Up" id="submit_register" />
        </form>


    </div>
{% endblock %}